<mat-card>
  <mat-card-footer>
    <div class="row">
      <div class="col-xl-4 col-md-4">
        <div class="fotter1">
          <h3 class="logo" routerLink="/" >ChamBole</h3>
          <h5>Follow us on</h5>
          <ul class="social-links">
            <li>
              <a href="https://twitter.com/Chamal_98?t=bZinRLqukCkY4cONHAwPow&s=08" class="twitter">
                Twitter
              </a>
            </li>
            <li>
              <a href="https://www.facebook.com/chamal.anuradha.77?mibextid=ZbWKwL" class="facebook">
                Facebook
              </a>
            </li>
            <li>
              <a href="https://instagram.com/chamal_98?igshid=ZGUzMzM3NWJiOQ==" class="instagram">
                Instagram
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/chamal-anuradha" class="linkedin">
                LinkedIn
              </a>
            </li>
          </ul>

        </div>
      </div>
      <div class="col-xl-4">
        <div class="fotter2">
          <h6>Short Links</h6>
          <ul class="links">
            <li><mat-icon>fast_forward</mat-icon><a href="/">Home</a></li>
            <li><mat-icon>fast_forward</mat-icon><a href="/aboutus">About us</a></li>
            <li><mat-icon>fast_forward</mat-icon><a href="/contact">Contact</a></li>
            <li><mat-icon>fast_forward</mat-icon><a href="/features">Features</a></li>
            <li><mat-icon>fast_forward</mat-icon><a href="#">Privacy Policy</a></li>
            <li><mat-icon>fast_forward</mat-icon><a href="#">terms of use</a></li>
          </ul>
        </div>
      </div>
      <div class="col-xl-4 col-md-4">
        <div class="fotter3">
          <h6>Contact</h6>
        </div>

      </div>
    </div>
    <mat-toolbar color="primary">
      <div class="center-content">
        <div class="copyright">
          &copy; Copyright <b>Chambole</b> Designed by <a href="https://transcendent-sprinkles-532ccb.netlify.app" target="_blank">Chamal Anuradha</a>
        </div>
      </div>
    </mat-toolbar>
  </mat-card-footer>
</mat-card>



