.row{
  background-color: #e3f2fd;
}
.center-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}


.copyright{
    align-items: center;
    font-size: 18px;
    color: #fefdfd;
    padding: 10px;
}

.copyright a{
    color: #fefdfd;
    font-size: 19px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
.copyright a:hover{
    color: #030303;
    text-decoration: none;
}
.links{
   list-style: none;
   text-decoration: none;
  color: black;
 }
.links li{
  padding: 0 80px 0 30px;
  text-decoration: none;
  color: black;
}
 .links li a{
  text-align: center;
  text-decoration: none;
 color: black;
}
.logo{
 color: blue;
  cursor: pointer;
  transition: all 0.2s ease;
}
.logo:hover{
  color: #3b47d2;
  font-weight: 600;
}
.fotter1, .fotter2, .fotter3{
  margin: 25px 0px 0px 20px;
}

.fotter1 ul{
  list-style: none;
  text-decoration: none;
  color: black;
}
.fotter1 ul li a{
  padding: 0 80px 0 30px;
  text-decoration: none;
  color: black;
}
.fotter1 ul li a:hover{
  color: #020202;
  font-weight: 600;
}
