.form-head{
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  color: hsl(0, 72%, 58%);
  padding: 0px;
  margin-bottom: 10px;
}
.action{
  padding: 0 20px 0 20px;
  button{
    flex: 1;
  }
}
