
        <div mat-dialog-title>
          <h4 class="form-head">Login form</h4>
        </div>
        <form>
        <div mat-dialog-content>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field appearance="fill">
              <mat-label>Email</mat-label>
              <input matInput type="email" placeholder="Chamalanuradha@gmail.com" formControlName="email">
          </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field appearance="fill">
              <mat-label>Password</mat-label>
              <input matInput type="Password" placeholder="Password" formControlName="password">
            </mat-form-field>
          </div>
          </div>
        </div>

        <div mat-dialog-actions class="action">
          <button mat-raised-button color="primary" type="submit" mat-raised-button>Login</button>
        </div>
        </form>






